@import '../app/variables.scss';

.sizes {
  width: 200px;
  display: flex;

  &--active {
    border: 5px solid $green;
  }

  &__label {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
}
