@import '../app/variables.scss';

.color {
  width: 200px;
  display: flex;
  cursor: pointer;

  &--active {
    border: 5px solid $green;
  }

  &__name {
    padding-top: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__box {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
}
