@import '../app/variables.scss';

.product-card {
  display: flex;
  box-sizing: border-box;
  width: $tablet-width;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  text-align: center;
  background-color: $main-color-bg;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  min-height: 100vh;

  &__title {
    padding-top: 60px;
    margin-bottom: 50px;
    font-size: 40px;
  }
}

.left {
  width: 300px;
}

.right {
  width: 425px;
  padding-left: 30px;
  padding-right: 20px;
}

.price {
  width: 200px;
  margin-bottom: 20px;
  
  &__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  &__number {
    font-size: 40px;
  }
}

